version: "3"
services:
  oxigraph:
    image: ghcr.io/oxigraph/oxigraph:0.4.0-rc.1
    volumes:
      #fsx for storage
      - /fsx/brainkb-kg-repo:/data
      # NEW: give Oxigraph a real, large /tmp
      - /srv/oxigraph-tmp:/tmp
    environment:
      # Make sure any temp use points at the big /tmp
      - TMPDIR=/tmp
    ulimits:
      # Avoid process-level file size limits that can mimic ENOSPC
      fsize: -1
    restart: unless-stopped

  nginx-auth:
    image: nginx:1.21.4
    environment:
      - OXIGRAPH_USER=admin
      - OXIGRAPH_PASSWORD=admin
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "7878:7878"
    entrypoint: >
      sh -c 'echo -n "$$OXIGRAPH_USER:" >> /etc/nginx/.htpasswd &&
      echo "$$OXIGRAPH_PASSWORD" | openssl passwd -stdin -apr1 >> /etc/nginx/.htpasswd &&
      cat /etc/nginx/.htpasswd &&
      /docker-entrypoint.sh nginx'
    depends_on:
      - oxigraph
    restart: unless-stopped
