version: '3.8'

services:
  app-dev-producer:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:8006"
    environment:
      - ENVIRONMENT=debug
    restart: on-failure
    networks:
      - webnet

networks:
  webnet:
    driver: bridge


