services:
  ollama:
    image: ollama/ollama
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama:ollama
    command: >
      sh -c "
        ollama serve &
        sleep 3 &&
        ollama pull nomadic-text
        wait
      "
    restart: unless-stopped

volumes:
  ollama: